version: '2.1'
orbs:
  docker: circleci/docker@3.0.1
jobs:
  build-and-push:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - docker/build:
          dockerfile: dockerfiles/ml/Dockerfile
          image: ghcr.io/yc-gao/ml:latest
      - docker/push:
          digest_path: /tmp/digest.txt
          image: ghcr.io/yc-gao/ml:latest
      - run:
          command: |
            echo "Digest is: $(</tmp/digest.txt)"
workflows:
  commit:
    jobs:
      - build-and-push
