[Unit]
Description=Mllab Container Service

[Service]
Type=simple
ExecStart=podman run -ti --rm --name mllab -p 8000-9000:8000-9000 -v /home/ycgao/Workdir:/home/ycgao/Workdir -w /home/ycgao/Workdir -v /home/ycgao/Workdir/docker-apps/bin/_internal/_home:/root --gpus all -e NVIDIA_DRIVER_CAPABILITIES=all ghcr.io/yc-gao/ml:latest /usr/sbin/sshd -D -p 8022

[Install]
WantedBy=default.target